@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: var(--color-White);
    color: var(--color-Black);
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.clearfix::after {
    display: block;
    content: "";
    clear: both;
}

/* header */
header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 2;
    background-color: var(--color-accent);
}

.logo {
    position: relative;
    width: 150px;
    top: 15px;
    left: 20px;
}

.logo img {
    width: 100%;
}

.menu {
    width: 50%;
    font-size: 18px;
    font-family: 'Mont', sans-serif;
}

.menu .mainmenu .mainmenu_inner {
    position: relative;
    float: left;
    width: 20%;
    color: var(--color-White);
    text-align: center;
    line-height: 80px;
}

.menu .mainmenu .mainmenu_inner:hover .navicon img {
    opacity: 1;
    transition: 0.4s;
}

.menu .mainmenu .mainmenu_inner>a {
    display: inline-block;
}

.navicon img {
    width: 15px;
    height: 15px;
    top: 20px;
    right: 22%;
    position: absolute;
    opacity: 0;
}

.submenu {
    line-height: 35px;
    height: 200px;
    font-size: 15px;
    font-weight: 400;
    background-color: var(--color-accent);
    display: none;
}

.submenu .submenu_inner {
    padding: 6px;
    cursor: pointer;
}


.burger {
    position: relative;
    width: 25px;
    height: 16px;
    cursor: pointer;
    display: none;
}

.burger_line {
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 2px;
    background-color: var(--color-White);
    left: 0;
    transition: 0.2s;
}

.burger_line:first-child {
    top: 0;
}

.burger_line:nth-child(2),
.burger_line:nth-child(3) {
    top: 50%;
}

.burger_line:nth-child(4) {
    top: 100%;
}

.burger.active span:nth-child(1),
.burger.active span:nth-child(4) {
    opacity: 0;
}

.burger.active span:nth-child(2) {
    transform: rotate(45deg);
}

.burger.active span:nth-child(3) {
    transform: rotate(-45deg);
}


/*------main-----*/

.main {
    width: 100%;
    height: 500px;
    background-image: url("../image/images5/main.png");
    background-size: cover;
    background-position-y: 90%;
}


.main_title {
    width: 100%;
    margin: 0 auto;
}

.main_title>h3 {
    width: 100%;
    margin-top: 40px;
    font-weight: 900;
    font-family: 'Mont', sans-serif;
    color: var(--color-accent);
    text-align: center;
    font-size: 35px;
}

.main_title>p {
    text-align: center;
}



.btn {
    width: 100%;
    margin: 40px auto;
}


.btn .btn_tab {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
    border-bottom: 2px solid var(--color-accent);
}

.btn .btn_tab li {
    float: left;
    width: 30%;
    height: 60px;
    margin-left: 5%;
    background-color: var(--color-sub1);
    border: 1px solid var(--color-sub1);
    font-weight: 500;
    text-align: center;
    line-height: 60px;
    position: relative;
    cursor: pointer;
}

.btn .btn_tab li:nth-child(1) {
    margin-left: 0;
}


.btn .btn_tab li:nth-child(2),
.btn .btn_tab li:nth-child(3) {
    background-color: var(--color-White);
}


.btn .btn_tab li span {
    width: 20px;
    height: 20px;
    background-color: var(--color-sub1);
    display: block;
    position: absolute;
    top: 50px;
    left: 48%;
    transform: rotate(45deg);
    display: none;
}

.btn .btn_tab li:nth-child(1) span {
    display: block;
}



.image1 {
    background-image: url("../image/images5/retropack.jpeg");
}

.image2 {
    background-image: url("../image/images5/timspack.jpeg");
}

.image3 {
    background-image: url("../image/images5/app_event.jpeg");
}

.content {
    width: 100%;
    margin: 100px auto;
    visibility: hidden;
}

.imgbox {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
}

.content .content_ul {
    width: 90%;
    margin: 0 auto;
}

.content .content_ul li {
    float: left;
    width: 30%;
    margin-left: 5%;
    border: 1px solid #dddddd;
    cursor: pointer;
}

.content .content_ul li:nth-child(1) {
    margin-left: 0;
}

.content .content_ul li:hover {
    border: 1px solid var(--color-accent);
    transition: 0.3s;
    background-color: var(--color-sub1);
}

.content .content_ul li:hover span {
    color: var(--color-Black);
}

.content .textbox {
    padding: 20px 10px;
}

.content .textbox p {
    color: var(--color-accent);
    font-weight: 500;
}

.content .textbox span {
    color: #cbcbcb;
    font-size: 14px;
}

.content .textbox img {
    width: 50px;
    height: 50px;
    float: right;
    margin-top: -45px;
}

/*------footer 구간-----*/

footer {
    width: 100%;
    background-color: var(--color-accent);
    padding-top: 20px;
    margin: 0 auto;
    text-align: center;
    color: var(--color-White);
}

.box1 img {
    width: 150px;
}


.box2 ul {
    width: 30%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

.box3 {
    width: 100%;
    font-size: 14px;
}

.box4 {
    margin: 10px;
}

.box4 img {
    width: 30px;
    height: 30px;
}

.box5 {
    background-color: var(--color-accent2);
    height: 40px;
    line-height: 40px;
    color: var(--color-accent);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
    font-family: 'Mont', sans-serif;
}

.site {
    width: 110px;
    height: 20px;
    margin-top: 10px;
    text-align: center;
    appearance: none;
    background-size: 15px;
    border: 1px solid var(--color-accent);
    border-radius: 5px;
    background-color: var(--color-accent2);
    color: var(--color-accent);
    font-weight: 900;
    font-family: 'Mont', sans-serif;
    outline: none;
}



.site option {
    appearance: none;
    outline: none;
    background: var(--color-accent2);
    color: var(--color-accent);
    border: none;
    font-weight: 900;
    font-family: 'Mont', sans-serif;
    padding: 3px 0;
}


/*=====반응형구간=====*/

@media only screen and (max-width:1399px) and (min-width:1024px) {
    .navicon img {
        width: 15px;
        height: 15px;
        top: 20px;
        right: 8%;
    }

    .submenu .submenu_inner {
        font-size: 14px;
    }


}

/*1399-1024구간 끝*/


@media only screen and (max-width:1023px) and (min-width:700px) {

    .burger {
        display: block;
        z-index: 4;
        position: absolute;
        top: 30px;
        right: 16px;
    }

    header {
        display: block;
    }


    .logo {
        width: 120px;
    }

    .menu {
        font-size: 14px;
        width: 100%;
        margin-top: 30px;
        display: none;
    }

    .menu .mainmenu .mainmenu_inner {
        width: 100%;
        float: none;
        font-size: 16px;
        color: var(--color-White);
        background-color: var(--color-accent);
        text-align: center;
    }


    .navicon {
        display: none;
    }

    /*-----이벤트 콘텐츠 구간-----*/

    .content ul {
        width: 96%;
    }

    .content ul li {
        float: left;
        width: 48%;
        margin: 10px auto;
        margin-left: 4%;
    }

    .content ul li:nth-child(2n+1) {
        margin-left: 0;
    }


    /*----footer 구간----*/

    .box2 ul {
        width: 40%;
    }

    .box2 ul li {
        font-size: 14px;
    }

    .box3 {
        font-size: 12px;
    }

    .box5 {
        font-size: 14px;
    }

}

/*1023-700구간 끝*/

@media only screen and (max-width:699px) {

    .burger {
        display: block;
        z-index: 4;
        position: absolute;
        top: 30px;
        right: 16px;
    }

    header {
        display: block;
    }


    .logo {
        width: 120px;
    }

    .menu {
        font-size: 14px;
        width: 100%;
        margin-top: 30px;
        display: none;
    }

    .menu .mainmenu .mainmenu_inner {
        width: 100%;
        float: none;
        font-size: 16px;
        color: var(--color-White);
        background-color: var(--color-accent);
        text-align: center;
    }

    .navicon {
        display: none;
    }



    .btn ul li {
        font-size: 14px;
    }

    .btn ul li span {
        left: 45%;
    }

    .main {
        height: 350px;
    }


    /*----content 구간----*/

    .content {
        margin: 50px auto;
    }

    .title h3 {
        font-size: 24px;
    }

    .title p {
        font-size: 16px;
    }

    .content ul {
        width: 85%;
        margin: 0 auto;
    }

    .content ul li {
        float: none;
        width: 100%;
        margin-left: 0;
        margin: 20px auto;
    }

    /*----footer----*/
    .box2 ul {
        width: 60%;
    }

    .box2 ul li {
        font-size: 14px;
        padding: 1px;
    }

    .box3 {
        font-size: 12px;
        width: 80%;
        margin: 20px auto;
    }

    .box5 {
        font-size: 12px;
    }

    .box5>span {
        margin: 0 auto;
    }

    select {
        display: none;
    }


}